# Dépendances Node.js
node_modules/
.pnpm-store/

# Fichiers de variables d'environnement (Secret)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dossiers de build et production
dist/
build/
.vercel/

# Logs et débogage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Fichiers Système et Éditeurs
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
